.toggle {
    border: 1px solid var(--palette-Black);
    border-radius: 10px;
    width: 40px;
    height: 20px;
    background-color: transparent;
    padding: 3px;
    display: flex;
    justify-content: left;
}

.checked {
    background-color: var(--semanticColors-InputIcon);
    border: 1px solid var(--semanticColors-InputIcon);
    justify-content: right;
}

.ball {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--palette-Black);
}

.checkedBall {
    background-color: var(--palette-White);
}

.innerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label {
    font-weight: 600;
    padding-right: 5px;
}
