@namespace AppsByTAP.BlazorFluentUI.Components.Modal
@inherits ModalViewModel

@using AppsByTAP.BlazorFluentUI.Components.Button

<div class="modal" style="display: @_displayType;">
    <div class="modalClickToClose" @onclick="() => Close(CanLightDismiss)"></div>
    <div class="modalPositioner">
        <div class="modal-content" style="width: @Width;">

            @if (ShowHeader)
            {
                <div class="header">
                    <div style="flex: 1;">@Header</div>
                    <DefaultButton @onclick="() => Close(true)" ClassName="close" Text="&times;" />
                </div>
            }

            <div>@Content</div>
        </div>
    </div>    
</div>