@namespace AppsByTAP.BlazorFluentUI.Components.Icon
@inherits IconViewModel

<span style="display: inline-block @Style" class="ms-Dropdown-caretDownWrapper dropDownChenron @ClassName">
    <i class="ms-Icon ms-Icon--@(IconType)" data-icon-name="@(IconType)" role="presentation"></i>
</span>