@namespace AppsByTAP.BlazorFluentUI.Components.Icon
@inherits IconViewModel

<span style="@Style" class=" @ClassName">
    <i class="ms-Icon ms-Icon--@(IconType)" data-icon-name="@(IconType)" role="presentation"></i>
</span>