@page "/"

@using AppsByTAP.BlazorFluentUI.Components.DropDown
@using AppsByTAP.BlazorFluentUI.Components.Theme.Models
@using AppsByTAP.BlazorUi.Playground.Net6.Data
@using AppsByTAP.BlazorFluentUI.Components.TextField
@using AppsByTAP.BlazorFluentUI.Components.SpinButton
@using AppsByTAP.BlazorFluentUI.Components.Button

@inject IThemeProvider ThemeProvider

<SplitButton Width="200px" TItem="string" ItemsSource="_options" @bind-SelectedItem="@_selectedOption" OnClick="Click" />
@_selectedOption

<DefaultButton Text="Option 1" IsPrimary="true"  />

<DropDown TItem="DropDownTest" ItemsSource="_items" @bind-SelectedItem=_selectedItem>
    <ItemTemplate>
        <div>
            <h1>@context.Header</h1>
            <p>@context.SubText</p>
        </div>
    </ItemTemplate>
</DropDown>
<br />
@if(_selectedItem is not null)
{
    @_selectedItem.Header
}

@_binding
<br />
@_bindingI

@code
{
    private List<string> _options = new List<string>
    {
        "a","b","c"

    };
    private string _selectedOption = "";
    private string _binding;
    private int _bindingI = 1;
    private List<DropDownTest> _items = new List<DropDownTest>
    {
        new DropDownTest{ Header = "Hello", SubText = "World"},
        new DropDownTest{ Header = "Hello2", SubText = "World2"},
        new DropDownTest{ Header = "Hello3", SubText = "World3"},
        new DropDownTest{ Header = "Hello4", SubText = "World4"},
    };

    private DropDownTest _selectedItem;

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            _binding = "1";
            _bindingI = 2;
        }
        StateHasChanged();
    }

    private void Click()
    {
        _selectedOption = "d";
    }

}
