@page "/"

@using AppsByTAP.BlazorFluentUI.Components.DropDown
@using AppsByTAP.BlazorFluentUI.Components.Theme.Models
@using AppsByTAP.BlazorUi.Playground.Net6.Data

@inject IThemeProvider ThemeProvider

<DropDown TItem="DropDownTest" ItemsSource="_items" SelectedItem=_selectedItem>
    <ItemTemplate>
        <div>
            <h1>@context.Header</h1>
            <p>@context.SubText</p>
        </div>
    </ItemTemplate>
</DropDown>

@code
{
    private List<DropDownTest> _items = new List<DropDownTest>
    {
        new DropDownTest{ Header = "Hello", SubText = "World"},
        new DropDownTest{ Header = "Hello2", SubText = "World2"},
        new DropDownTest{ Header = "Hello3", SubText = "World3"},
        new DropDownTest{ Header = "Hello4", SubText = "World4"},
    };

    private DropDownTest _selectedItem;

}
