@page "/"

@using AppsByTAP.BlazorFluentUI.Components.DropDown
@using AppsByTAP.BlazorFluentUI.Components.Theme.Models
@using AppsByTAP.BlazorUi.Playground.Net6.Data
@using AppsByTAP.BlazorFluentUI.Components.TextField
@using AppsByTAP.BlazorFluentUI.Components.SpinButton

@inject IThemeProvider ThemeProvider

<SpinButton @bind-WholeValue=_bindingI IncrementAmount="1" />

<DropDown TItem="DropDownTest" ItemsSource="_items" SelectedItem=_selectedItem>
    <ItemTemplate>
        <div>
            <h1>@context.Header</h1>
            <p>@context.SubText</p>
        </div>
    </ItemTemplate>
</DropDown>

@_binding
<br />
@_bindingI

@code
{
    private string _binding;
    private int _bindingI = 1;
    private List<DropDownTest> _items = new List<DropDownTest>
    {
        new DropDownTest{ Header = "Hello", SubText = "World"},
        new DropDownTest{ Header = "Hello2", SubText = "World2"},
        new DropDownTest{ Header = "Hello3", SubText = "World3"},
        new DropDownTest{ Header = "Hello4", SubText = "World4"},
    };

    private DropDownTest _selectedItem;

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            _binding = "1";
            _bindingI = 2;
        }
        StateHasChanged();
    }

}
