/*
  Your use of the content in the files referenced here is subject to the terms of the license at https://aka.ms/fabric-assets-license
*/
@font-face {
    font-family: 'FabricMDL2Icons';
    src: url('../fonts/fabric-icons-3ead59fd.woff') format('woff');
}

.ms-Icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'FabricMDL2Icons';
    font-style: normal;
    font-weight: normal;
    speak: none;
}

.ms-Icon--Calculator:before { content: "\E8EF"; }
.ms-Icon--Calendar:before { content: "\E787"; }
.ms-Icon--CheckMark:before { content: "\E73E"; }
.ms-Icon--ChevronDown:before { content: "\E70D"; }
.ms-Icon--ChevronUp:before { content: "\E70E"; }
.ms-Icon--ChromeClose:before {  content: "\E8BB"; }
.ms-Icon--Delete:before { content: "\E74D"; }
.ms-Icon--ReceiptProcessing:before { content: "\E496"; }
.ms-Icon--Search:before {  content: "\E721"; }

@keyframes Slide_down_in_10 {
    from {
        opacity: 0;
        transform: translate3d(0,-10px,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes Slide_down_in_20 {
    from {
        opacity: 0;
        transform: translate3d(0,-20px,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes Slide_up_in_10 {
    from {
        opacity: 0;
        transform: translate3d(0,10px,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes Slide_right_in_10 {
    from {
        opacity: 0;
        transform: translate3d(-10px,0,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes Slide_right_in_40 {
    from {
        opacity: 0;
        transform: translate3d(-40px,0,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes Slide_left_in_10 {
    from {
        opacity: 0;
        transform: translate3d(10px,0,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes Slide_left_in_40 {
    from {
        opacity: 0;
        transform: translate3d(40px,0,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}


@keyframes Slide_right_out_40 {
    from {
        opacity: 1;
        transform: translate3d(0p,0,0);
    }

    to {
        opacity: 0;
        transform: translate3d(40px,0,0);
    }
}

@keyframes Slide_left_out_40 {
    from {
        opacity: 1;
        transform: translate3d(0p,0,0);
    }

    to {
        opacity: 0;
        transform: translate3d(-40px,0,0);
    }
}

@keyframes Fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}