@typeparam T

@using AppsByTAP.BlazorFluentUI.Components.Toggle
@using AppsByTAP.BlazorFluentUI.Components.CheckBox
@using Microsoft.AspNetCore.Components.Web.Virtualization

<div>
    <div class="label">
        @Label
    </div>
    <div class="checkboxGroupContainer" style="flex-direction: @(GroupDirection == Common.GroupDirection.Vertical ? "column": "row"); flex-wrap : @(WrapItems ? "wrap" : "nowrap"); width: @Width; height: @Height;">
        <Virtualize Items="_internalItemsSource">
            @if(UseToggleSwitches)
            {
                <div class="toggleContainer">
                    <Toggle IsChecked="context.IsSelected" IsCheckedChanged="x => CheckChanged(x, context)" LabelIsInline="true"/> 
                    <div class="toggleLabel">@context.Item.ToString()</div>
                </div>
            }
            else
            {
                <CheckBox Label="@(context.Item.ToString())" IsChecked="context.IsSelected" IsCheckedChanged="x => CheckChanged(x, context)" />
            }
        </Virtualize>
    </div>
</div>