@inherits TemplateButtonViewModel

<div @onclick="OnClick" id="@ID" class="btnContainer @ClassName" style="border: @Border; border-radius: @BorderRadius;  @Style"
     @onclick:stopPropagation="OnClickStopPropagation">
    @ChildContent
</div>
