@using AppsByTAP.BlazorFluentUI.Components.BaseComponent

<div class="lightDismiss" style="display: @(IsOpen ? "block" : "none"); z-index: @(Layer > 0 ? Layer : LayerCounter.GetLayer() - 2);" @onclick="Close" @onmousewheel="Close"></div>