@namespace AppsByTAP.BlazorFluentUI.Components.DatePicker
@inherits DatePickerViewModel

@using AppsByTAP.BlazorFluentUI.Components.Icon
@using AppsByTAP.BlazorFluentUI.Components.Calendar


<div @onmousemove="MouseMoved" @onmouseout="MouseExited">
    <span>@SelectedDate.ToString(DateFormat)</span>
    <Icon IconType="IconTypes.Calendar" />
    <Calendar @bind-SelectedDate="@SelectedDate" />
</div>