@typeparam T

@using AppsByTAP.BlazorFluentUI.Components.Common

<div>
    <div class="label">
        @Label
    </div>
    <CascadingValue Value="this">
        <div style="display: flex; flex-direction: @(GroupDirection == GroupDirection.Vertical ? "column": "row");">
            @ChildContent
        </div>
    </CascadingValue>
</div>
