@typeparam T
<div class="choiceContainer  @(Parent.Disabled ? "disabled2" : "")" @onclick="OnClick">
    <div class="radioBtn @(IsSelected ? "selected" : "") @(Parent.Disabled ? "disabled" : "")">
        <div class="fill @(Parent.Disabled ? "disabled" : "")">

        </div>
    </div>
    @ChildContent
</div>
