.choiceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radioBtn {
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill {
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--palette-Black);
}

.choiceContainer:hover:not(.disabled2) .fill {
    display: block;
}

.choiceContainer:hover:not(.disabled2) {
    cursor: pointer;
}

.selected {
    border-color: var(--semanticColors-PrimaryButtonBackground);
}

.selected .fill {
    display: block;
    background-color: var(--semanticColors-PrimaryButtonBackground);
}

.disabled {
    background-color: var(--semanticColors-ListItemBackgroundCheckedHovered);
    border: none;
    color: var(--semanticTextColors-DisabledText);
}

.disabled2 {
    border: none;
    color: var(--semanticTextColors-DisabledText);
}

.fill.disabled {
    background-color: var(--palette-Black);
}
