@typeparam T
<CascadingValue Value="this">
    <div style="display: flex; flex-direction: @(GroupDirection == GroupDirection.Vertical ? "column": "row");">
        @ChildContent
    </div>
</CascadingValue>
