
<div class="choiceContainer" @onclick="() => Parent.ChildSelected(this)">
    <div class="radioBtn @(IsSelected ? "selected" : "")">
        <div class="fill">

        </div>
    </div>
    @ChildContent
</div>
