@namespace AppsByTAP.BlazorFluentUI.Components.CheckBox
@inherits CheckBoxViewModel

@using AppsByTAP.BlazorFluentUI.Components.Icon

<div class="checkBox" @onmouseover="MouseOver" @onmouseout="MouseExit">
    <span class="wrapper" @onclick="Clicked">
        @if (BoxSide == BoxSide.End)
        {
            @Label
        }
        <div class="checkMark @(IsChecked ? "checked" : "")" style="@("margin-" + (BoxSide == BoxSide.Start ? "right: " : "left: ") + ".25em;")" >
            <div class="checkPlacer @CheckVisibility">
                <Icon IconType="IconTypes.CheckMark" />
            </div>
        </div>
        @if (BoxSide == BoxSide.Start)
        {
            @Label
        }
    </span>
</div>