@using Microsoft.JSInterop;

<div id="@_id">
    @Text
</div>

@code {
    [Inject]
    IJSRuntime JSRuntime { get; set; }

    private string _text;
    [Parameter]
    public string Text 
    {
        get => _text;
        set
        {
            if(_text == value ) { return; }
            _text = value;
            ResizeText();
        }
    }
    [Parameter]
    public double Compressor { get; set; } = 1d;

    private readonly string _id = Guid.NewGuid().ToString();

    private Task<IJSObjectReference> _module;
    private const string ImportPath = "./_content/AppsByTAP.BlazorFluentUI.Components/js/FitTextComponent.js";
    private Task<IJSObjectReference> Module => _module ??= JSRuntime.InvokeAsync<IJSObjectReference>("import", ImportPath).AsTask();

    private async Task ResizeText()
    {
        IJSObjectReference mod = await Module;

        await mod.InvokeVoidAsync("FitText", _id, Compressor);
    }

}
