.dropDownWrapper {
    display: block;
    width: 300px;
    height: 32px;
}

.dropDownCtrl {
    display: inline-block;
    border: 1px solid var(--semanticColors-ButtonBorder);
    border-radius: 2px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    width: 300px;
    height: 32px;
}

.dropDownChenron {
    float: right;
    padding: 3px 7px 0px 13px;

}

.dropDownCtrl:hover:not(.disabled) {
    cursor: pointer;
}

.dropDownCtrl:hover:active:not(.disabled) {
    border-color: var(--palette-ThemePrimary);
    border-width: 2px;
}

.itemsPanel {
    display: none;
    position: absolute;
    background-color: var(--semanticColors-ListBackground);
    width: 300px;
}

.dropDownSelection {
    padding-left: 8px;
}

.item, .header {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    padding: 3px 0px 3px 0px;
    padding-left: .5em;
}

.item:hover {
    background-color: var(--semanticColors-ListItemBackgroundHovered);
}

.lightDismiss {
    display:none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0px;
    left: 0px;
}

.disabled {
    background-color: var(--semanticColors-ListItemBackgroundCheckedHovered);
    border: none;
    color: var(--semanticTextColors-DisabledText);
}