.item, .header {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    padding: 0.1875em 0px 0.1875em .5em;
}

.item:hover {
    background-color: var(--semanticColors-ListItemBackgroundHovered);
}