
<CascadingValue Value="this">
    <div class="TabContainer" style="width: @Width; height: @Height;">
        <div class="TabHeader" role="group">
            @foreach (Tab tabPage in Pages)
            {
                <div class="TabHeaderItem" @onclick="() => ActivatePage(tabPage)" style="color: @(ActivePage == tabPage? tabPage.Color : "var(--semanticColors-ButtonText)")">
                    @tabPage.Header
                </div>
            }
        </div>
        <div class="Indictor" style="width: @_percent%; left: @_left%; background-color: @(ActivePage?.Color ?? "black");"></div>

        @ChildContent
    </div>
</CascadingValue>

